@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.font-inter {
  font-family: "Inter", system-ui, -apple-system, "San Francisco", Roboto,
    "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif;
}

@theme {
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-secondary: hsl(var(--secondary));
  --color-accent: hsl(var(--accent));
  --color-accent-themed: hsl(var(--accent-themed));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-card: hsl(var(--card));
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient 8s linear infinite;
}

@layer base {
  :root {
    --background: 0 0% 10%;
    --foreground: 213 31% 91%;

    --card: 0 0% 90%;

    --primary: 0 0% 100%;
    --secondary: 0 0% 63%;
    --primary-foreground: 213 31% 91%;

    --accent: 347 48% 81%;
    --accent-themed: 180 100% 50%;

    --border: 217 33% 20%;
  }

  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}